/*-----------------------------------------------------------------------------------

    Description: The Multi-Purpose Onepage Template
    Author: ui-themez
    Author URI: http://themeforest.net/user/ui-themez
    Version: 1.0

-----------------------------------------------------------------------------------*/

/* ----------------------------------------------------------------
			[ All Css Plugins & Helper Classes File ]
-----------------------------------------------------------------*/

/* == bootstrap == */
@import url("plugins/bootstrap.min.css");

/* == animate Headline == */
@import url("plugins/animate.min.css");

/* == YouTubePopUp == */
@import url("plugins/component.css");

/* == themify-icons icon font == */
@import url("plugins/themify-icons.css");

/* == fontawesome icon font == */
@import url("plugins/fontawesome-all.min.css");


/* == helper classes == */
@import url("plugins/helper.css");
