/* Reset */

*{
	margin: 0;
	padding: 0;
}

/* General */
body{
 	font-family: 'Lato', sans-serif;
 	background: #F7F7F7;
}
html[dir="rtl"]{
 	text-align: right;
}
.rtl{
 	direction:rtl;
}
.header{
	background: #fff;
}
.header a{
	color: #2F47C2;
}
.header p{
	text-align: center;
}
.header p img{
	height: 60px;
	margin: 7px 0px 0px;
}
.header i.fa-align-left{
	font-size: 22px;
	margin-top: 25px;
	color: #2F47C2;
}
.header .input-group{
	margin: 20px 30px;
}
.header .input-group .input-group-addon{
	background: #F2F4F8;
	border:0px;
	border-radius: 0px 25px 25px 0px;
	padding: 10px 20px 10px 5px;
}
.header .input-group .form-control{
	background: #F2F4F8;
	border:0px;
	border-radius: 25px 0px 0px 25px;
	box-shadow:inset 0 0px 0px rgba(0,0,0,0.0);
	padding: 18px 0px 18px 10px;
}
.header h6{
	margin-top: 22px;
	font-size: 10px;
}
.header h6 a{
	margin: 0px 15px;
}
.header h5{
	color: #555;
	margin-top: 20px;
}
.header h5 img{
	margin-left: 15px;
	margin-right: 25px;
}

/* Sidebar */

#row-main {
	overflow-x: hidden;
}
.content .side-bar-menu{
	background-color: #fff;
	margin-top: 10px;
	margin-right: -15px;
	width: 90%;
	height: 90vh;
}
#sidebar{
	-webkit-transition: margin 0.3s ease;
    -moz-transition: margin 0.3s ease;
    -o-transition: margin 0.3s ease;
	transition: margin 0.3s ease;
}
.collapsed{
    display: none;
}
#sidebar .list-group{
	padding-top: 40px;
}
#sidebar .list-group-item{
	border:0px;
	border-radius: 0px;
	padding:12px 20px;
	display: block;
}
.list-group .active{
	background: #2F47C2;
}
.list-group .active a{
	color:#fff;
	text-decoration: none;
}
.list-group>.active .black{
	display: none;
}
.list-group>.active .white{
	height: 20px;
	margin-left: 10px;
}
.list-group .inactive a{
	color:#333;
	text-decoration: none;
}
.list-group>.inactive .black{
	height: 20px;
	margin-left: 10px;
	display: block;
	float: right;
}
.list-group>.inactive .white{
	display: none;
}
.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover{
	background-color: #2F47C2;
	border:0px;
}
.list-group-item:hover{
	background-color: #2F47C2;
	border:0px;
}
.list-group-item:hover a{
	color: #fff;
}
.list-group-item.inactive:hover .black{
	display: none;
}
.list-group-item.inactive:hover .white{
	display: block;
	height: 20px;
	float: right;
	margin-left: 10px; 
}

/* Main Content */

#content{
	padding: 30px 50px 40px 50px;
}
#content h1{
	font-size: 28px;
	border-bottom: 1px solid #CFD8E8;
	padding-bottom: 15px;
	margin-bottom: 40px;
	color: #3E4B5B;
	font-weight: 600;
}
#content h1 img{
	height: 25px;
	margin-top: -7px;
}
#content .thumbnail{
	border:0px;
	padding: 60px 10px 40px;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.10);
	border-radius: 10px;
	margin-bottom: 30px;
}
#content .thumbnail h3{
	text-align: center;
	color: #3E4B5B;
	font-weight: 500;
	font-size: 28px;
}
#content .thumbnail h3 img{
	height: 50px;
}
#content .thumbnail h4{
	text-align: center;
	color: #959CA5;
	font-weight: 700;
	font-size: 17px;
	margin-top: 80px;
}
#content .thumbnail h4 span{
	color: #3E4B5B;
}
#content .thumbnail .num{
	margin-right: 30px;
}
#content .table{
	background: #fff;
	margin-bottom: 50px;
}
#content table thead tr td{
	font-size: 16px;
	font-weight: 700;
	padding: 5px 25px 5px 5px;
}
#content table tbody tr td{
	font-size: 16px;
	font-weight: 700;
	padding: 20px 25px 20px 5px;
}
#content table tbody tr td img{
	height: 23px;
	margin-left: 10px;
}
#content table tbody tr td .img-rounded{
	height: 45px;
	width: 50px;
	border: 1px solid #E0E0E0;
}
#content table tbody tr td .img-circle{
	height: 30px;
	width: 30px;
}
#content table.volunteers thead tr td{
	font-size: 15px;
	font-weight: 600;
}
#content table.volunteers tbody tr td{
	font-size: 13px;
	font-weight: 600;
	padding: 4px 25px 3px 5px;
}

/* Content Group */

.group .nav-tabs{
	background: #fff;
	border:0px;
	border-radius: 10px 10px 0px 0px;
	box-shadow: 0 1px 2px 0 rgba(0,0,0,0.10);
}
.group .nav-tabs li{
	float: right;
}
.group .nav-tabs li a{
	padding: 10px 60px;
	font-weight: 600;
	margin: 0px;
	color: #7D848C;
}
.group .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
	color: #2F47C2;
	border:1px solid #EEEEEE;
	border-bottom: 1px solid #2F47C2;
	background-color: #EEEEEE;
	border-radius: 0px;
}
.group .nav-tabs>li a:first-child{
	border-radius: 0px 10px 0px 0px;
}
.group .nav-tabs>li a:hover{
	color: #2F47C2;
	border-bottom: 1px solid #2F47C2;
	background-color: #EEEEEE;
	border-radius: 0px;
}
.group .tab-content{
	margin-top: 20px;
}
.group .tab-content .info-top{
	background-color: #fff;
	padding: 20px 0px 20px 50px;
	margin: 0px 2px;
}
.group .tab-content .info{
	margin: 8px 0px 5px;
}
.group .tab-content .image{
	text-align: center;
}
.group .tab-content .image img{
	height: 30px;
}
.group .tab-content .text h5{
	font-weight: 700;
	font-size: 15px;
	color: #3E4B5B;
	margin-top: 5px;
	padding-bottom: 12px;
	border-bottom: 1px solid #E4EBED;
}
.group .tab-content .text h5 span{
	color:#020259;
}
.group .details{
	margin: 50px 0px;
	padding: 10px 40px;
}
.group .details-block{
	border-right:1px solid #D7D7D7;
}
.group .details h4{
	margin-top: 0px;
	font-weight: 700;
	color: #3e4b5b;
}
.group .details p{
	color: #70777f;
}

/* Participations */

.participations .participations-contnet{
	margin-top: 20px;
}
.participations .participations-contnet .block{
	background-color: #fff;
	padding: 10px 35px;
	border-radius: 05px;
	box-shadow: 0 1px 2px 0 rgba(0,0,0,0.10);
	margin-bottom: 10px;
}
.participations .participations-contnet .block h4 img{
	height: 20px;
	margin-left: 10px;
}
.participations .participations-contnet .block h4 span{
	font-size: 16px;
	font-weight: 700;
	color: #1c1c1c;
}
.participations .participations-contnet .block p{
	font-size: 10px;
	text-align: justify;
	font-weight: 600;
	color: #6c6c6c;
}
.participations .participations-contnet .block .list{
	margin: 10px 0px 20px;
}
.participations .participations-contnet .block .list h6{
	text-align: center;
	margin-top: 0px;
}
.participations .participations-contnet .block .list img{
	float: left;
	height: 24px;
}
.participations .participations-contnet .block .list p{
	margin-top: -3px;
	font-size: 13px;
	font-weight: 600;
	color: #6c6c6c;
	margin-right: 15px;
	text-align: justify;
}
.participations .participations-contnet .block p span{
	font-size: 15px;
	font-weight: 700;
	color: #1c1c1c;
}
.participations .participations-contnet .button{
	margin: 25px 0px;
}
.participations .participations-contnet .button .btn-primary{
	margin-left: 20px;
	margin-top: 10px;
	padding: 07px 30px;
	background: transparent;
	color: #2f47c2;
	font-weight: 600;
	border:1px solid #2f47c2;
	box-shadow: 0 1px 2px 0 rgba(0,0,0,0.20);
}
.participations .participations-contnet .button .btn-primary:hover{
	color: #fff;
	background-color: #2f47c2;
}
.participations .participations-contnet .button .active{
	color: #fff;
	background-color: #2f47c2;
	margin-left: 20px;
	margin-top: 10px;
	padding: 07px 30px;
	font-weight: 600;
	border:1px solid #2f47c2;
	box-shadow: 0 1px 2px 0 rgba(0,0,0,0.20);
}

/* Blog */

.blog .button .btn-primary{
	margin-left: 20px;
	padding: 07px 30px;
	background: transparent;
	color: #2f47c2;
	font-weight: 600;
	border:1px solid #2f47c2;
	box-shadow: 0 1px 2px 0 rgba(0,0,0,0.20);
}
.blog .button .active{
	color: #fff;
	background-color: #2f47c2;
	margin-left: 20px;
	padding: 07px 30px;
	font-weight: 600;
	border:1px solid #2f47c2;
	box-shadow: 0 1px 2px 0 rgba(0,0,0,0.20);
}
.blog .author{
	margin-top: 80px;
}
.blog .author .img-circle{
	height: 70px;
}
.blog .author h4{
	color: #1c1c1c;
	font-weight: 700;
}
.blog .author h5 span{
	margin-left: 15px;
	color: #057300;
	font-weight: 600;
}
.blog .author h5 span img{
	height: 18px;
	margin-top: -04px;
	margin-left: 5px;
}
.blog .author .dropdown-menu{
	padding: 15px 0px;
	min-width: 120px;
	margin-right: -20px;
}
.blog .author .dropdown-menu>li>a{
	text-align: center;
	font-weight: 700;
	padding: 3px 15px;
	color: #3e4a5a;
}
.blog .author .dropdown-menu .delete{
	color: #e11d39;
}
.blog .details{
	margin-top: 15px;
	background-color: #fff;
	border-radius: 08px;
	padding: 0px;
	box-shadow: 0 1px 2px 0 rgba(0,0,0,0.10);
}
.blog .details img{
	width: 100%;
	border-radius: 08px 08px 0px 0px;
	box-shadow: 0 1px 2px 0 rgba(0,0,0,0.10);
}
.blog .details .blog-text{
	padding: 30px 50px 60px;
}
.blog .details .blog-text h4{
	font-weight: 700;
	color: #3e4b5b;
	font-size: 22px;
}
.blog .details .blog-text p{
	font-weight: 600;
	text-align: justify;
	color: #6c6c6c;
	font-size: 12px;
}

/* Volunteer */
.volunteer .nav-tabs{
	background: #fff;
	border:0px;
	border-radius: 10px 10px 0px 0px;
	box-shadow: 0 1px 2px 0 rgba(0,0,0,0.10);
}
.volunteer .nav-tabs li{
	float: right;
}
.volunteer .nav-tabs li a{
	padding: 10px 60px;
	font-weight: 600;
	margin: 0px;
	color: #7D848C;
}
.volunteer .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
	color: #2F47C2;
	border:1px solid #EEEEEE;
	border-bottom: 1px solid #2F47C2;
	background-color: #EEEEEE;
	border-radius: 0px;
}
.volunteer .nav-tabs>li a:first-child{
	border-radius: 0px 10px 0px 0px;
}
.volunteer .nav-tabs>li a:hover{
	color: #2F47C2;
	border-bottom: 1px solid #2F47C2;
	background-color: #EEEEEE;
	border-radius: 0px;
}
.volunteer .tab-content{
	margin-top: 20px;
}
.volunteer h2{
	text-align: center;
	margin: 40px 0px 40px;
}
.volunteer h2 img{
	height: 120px;
	background: #fff;
	padding: 2px;
	border:1px solid #2f47c2;
}
.volunteer h5{
	font-size: 16px;
	font-weight: 700;
	color: #000058;
}
.volunteer .info-top{
	background: #fff;
	border-radius: 5px;
	padding: 20px 0px 40px;
	margin:0px 1px 60px;
}
.volunteer .info{
	margin: 15px 70px;
	border-bottom: 1px solid #d9e5e8;
}
.volunteer .info-top .info h5{
	font-size: 14px;
	font-weight: 600;
	color: #3e4b5b;
}
.volunteer .info-top .info h5 span{
	color: #000058;
}
.volunteer .info-top .info img{
	width: 20px;
	margin-left: 15px;
}
.volunteer .info-bottom{
	padding: 20px 0px 40px;
	margin:0px 1px;
}
.volunteer .info-bottom .info h5{
	font-size: 14px;
	font-weight: 600;
	color: #3e4b5b;
}
.volunteer .info-bottom .info h5 span{
	color: #000058;
}
.volunteer .info-bottom .info img{
	width: 20px;
	margin-left: 15px;
}
/* Responsive */

@media screen and (max-width: 1200px) {
	#content{
		padding: 20px;
	}
	#content .thumbnail h4{
		font-size: 16px;
	}
	#content .thumbnail .num{
		margin-right: 15px;
	}
	.group .tab-content .text{
		margin-left: 05px; 
	}
	.group .nav-tabs li a{
		padding: 10px 35px;
	}
	.volunteer .info{
		margin: 15px 30px;
	}
}

@media screen and (max-width: 992px) {
	.content .side-bar-menu{
		height: 100%;
		width: 100%;
		margin-left: 0px;
	}
	#content{
		padding: 20px;
	}
	#content .thumbnail h4{
		font-size: 15px;
	}
	#content .thumbnail .num{
		margin-right: 10px;
	}
	.group .tab-content .text{
		margin-right: 05px; 
	}
	.group .nav-tabs li a{
		padding: 10px 30px;
	}
	.blog .author h4,h5{
		margin-right: 15px;
	}
	.volunteer .info{
		margin: 15px 20px;
	}
}

@media screen and (max-width: 768px) {
	#content{
		padding: 20px;
	}
	#content .thumbnail h4{
		font-size: 15px;
	}
	#content .thumbnail .num{
		margin-right: 10px;
	}
	.content .side-bar-menu{
		height: 100%;
		width: 100%;
		padding-bottom: 10px;
		margin-right: 0px;
	}
	.group .tab-content .text{
		margin-left: 10px; 
	}
	.group .nav-tabs li a{
		padding: 10px 20px;
	}
	.group .details h4{
		padding-left: 10px;
	}
	.group .details{
		padding: 10px 15px;
	}
	.blog .author h4,h5{
		margin-right: 15px;
	}
	.volunteer .info{
		margin: 15px 20px;
	}
}
@media screen and (max-width: 600px) {
	.group .tab-content .text{
		margin-left: 10px; 
	}
	.group .details .text{
		padding-left: 10px;
	}
	.group .details{
		padding: 10px;
	}
	.blog .author h4,h5{
		margin-right: 10px;
	}
	.blog .details .blog-text{
		padding: 20px 30px 40px;
	}
	.volunteer .info{
		margin: 10px;
	}
}